h1 {
  color: #fff;
  text-align: center;
  font-family: "Lobster";
  font-size: 50px;
}
.navbar {
  background-image: url(../images/fundo.jpg);
  height: 100px;
}
.search {
  width: 100%;
}
.searchImg {
  border-radius: 8px;
}
#divBusca {
  background-color: #ffff;
  border: solid 2px #1e90ff;
  border-radius: 10px;
  width: 600px;
  height: 40px;
  display: flex;
  margin: auto;
  margin-top: 10%;
}

#txtBusca {
  float: left;
  background-color: transparent;
  padding-left: 5px;
  font-size: 18px;
  border: none;
  height: 32px;
  width: 100%;
  margin-top: 2px;
}
textarea:focus,
input:focus,
select:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}
#btnBusca {
  border: none;
  float: left;
  height: 38px;
  border-radius: 0 7px 7px 0;
  width: 80px;
  font-weight: bold;
  margin-left: auto;
  background: #1e90ff;
}
.list {
  display: flex;
  margin-top: 5%;
  justify-content: center;
  margin-left: 50px;
}
.content {
  width: 100%;
}
.border {
  border: solid 1px #1e90ff;
  margin: auto 90px;
}
.text-fig {
  font-family: "Lobster";
  color: black;
  text-align: center;
}

.btn-return {
  font-family: "Lobster";
  padding: 15px;
  background-color: #1e90ff;
  color: #fff;
  text-decoration: none;
  border-radius: 20%;
  margin-left: 20px;
  font-size: 2rem;
}

.topo {
  align-items: center;
  display: flex;

  /* justify-content: center; */
}

h2 {
  font-family: "Lobster";
  text-align: center;
  color: #1e90ff;
}
.title {
  margin-left: 33%;
}

.results {
  margin: 5px 100px 0px 100px;
  border-style: none solid;
  border-color: #d3d3d3;
}

.card {
  margin: 0px 10px 10px 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #1e90ff;
  border-radius: 5px;
}

.card p {
  padding: 10px;
}

.error {
  text-align: center;
  font-family: ui-rounded;
  color: red;
  font-size: x-large;
  margin-top: 20px;
}
